.imagineconfigurator {
  width: 70%;
  height: 50%;
  margin-top: -3rem !important;
  border-radius: 1rem;
}
nav {
  position: fixed;
  z-index: 10;
}
body {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "UnboundPro-bold";
  src: url("./unboundpro-bold/UnboundPro-Bold.otf") format("opentype");
}

.header h2 {
  margin-top: 6rem !important;
  font-family: "UnboundPro-bold" !important;
}

.btn-large {
  font-family: "Montserrat" !important;
  color: black !important;
  border-radius: 0.5rem !important;
  margin-bottom: 4rem;
  width: 150px !important;
}
.btn-large:hover {
  background-color: #858585 !important;
}
.select-dropdown li img {
  width: 100px !important;
  height: 80px !important;
}
