.imagineconfigurator {
  width: 60%;
  height: 40%;
  margin-top: -3rem !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "UnboundPro-bold";
  src: url("./unboundpro-bold/UnboundPro-Bold.otf") format("opentype");
}

.header h2 {
  font-family: "UnboundPro-bold" !important;
}

.btn-large {
  font-family: "Montserrat" !important;
}

.select-dropdown li img {
  width: 100px !important;
  height: 80px !important;
}
